body {
  background: #8CD2CD;
  color: #1D3F3D;
}

#main-container {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 1000px;
  background: white;
}

header {
  text-align: center;
  margin-top: 2%;
  height: 100px;
  background: #8CD2CD;
}

form {
  margin-top: 10%;
}

li {
  list-style-type: none;
  font-weight: bold;
}

#home {
  margin-top: -25px;
  float: right;
  text-decoration: none;
  color: #1D3F3D;
  font-weight: bold;
}

#home:hover {
  color: black;
}

.navbar {
  display: inline;
  margin-right: 10px;
}

.navlink {
  text-decoration: none;
  color: #1D3F3D;
}

.navlink:hover {
  color: black;
}

h1 {
  text-align: center;
}

.logo {
  margin-top: -100%;
  margin-bottom: 40px;
  margin-left: -400px;
  height: 50px;
  width: 50px;
}

.roster {
  /*float: right;*/
}

.show_roster {
  float: right;
  width: 400px;
  margin-right: 100px;
}

.player {
  display: inline;
  margin-left: 10px;
  float: left;
}

#hide_roster {
  display: block;
}

.team_games {
  float: left;
  margin-left: 150px;
}

.date {
  padding-bottom: 20px;
}


@media (max-width: 1290px) {
  img {
    display: none;
  }

  #navbar {
    display: none;
  }
}