body {
  background: #8CD2CD;
  color: #1D3F3D;
}

#main-container {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 600px;
  background: white;
}

header {
  text-align: center;
  margin-top: 3%;
  height: 50px;
  background: #8CD2CD;
}

form {
  margin-top: 10%;
}

li {
  list-style-type: none;
  font-weight: bold;
}

.roster {
  display: block;
  margin-top: 10px;
}

.showroster {
  width: 100px;
}

img {
  height: 100px;
  width: 100px;
}

#home {
  margin-top: -25px;
  float: right;
  text-decoration: none;
  color: #1D3F3D;
  font-weight: bold;
}

#home:hover {
  color: black;
}

h1 {
  text-align: center;
}

@media (max-width: 790px) {
  /*img {
    display: none;
  }*/
}