<div id="main-container">
  <header>
    <h1>Bay Area Sports</h1>
    <a id="home" href="/"> Home</a>
  </header>

    <h3> Upcoming Games: </h3>

  <div class="upcoming_games">
    <a class="roster" href="/roster/1"> Sharks Roster </a>
    <a class="roster" href="/roster/2"> Quakes Roster</a>
    <a class="roster" href="/roster/3"> 49ers Roster</a>
  </div>

    <form method="post" action="/">
      <input type="submit">
    </form>
</div>