

  <div class="upcoming_games">
    <h3> Upcoming Games: </h3>
    <% @games.each do |game| %>
        <li class="game"><%= game.home_team %> vs. <%= game.away_team%></li>
        <li class="date"><%= game.date.getlocal.asctime %></li>
      <% if game.home_team == "San Jose Sharks" %>
        <img class="logo" src="../images/Sharks.png">
      <% elsif game.home_team == "San Jose Earthquakes" %>
        <img class="logo" src="../images/Quakes.png">
      <% elsif game.home_team == "San Francisco Giants" %>
        <img class="logo" src="../images/Giants.png">
        <% elsif game.home_team == "Oakland Athletics" %>
        <img class="logo" src="../images/As.png">
      <% end %>
    <% end %>
  </div>
</div>