<div id="main-container">
  <h1>Bay Area Sports</h1>
  <h3> Upcoming Games: </h3>

  <% @events.each do |event| %>
    <li id"game"><%= event.home_team %> vs. <%= event.away_team%></li>
    <li id"date"><%= event.date.getlocal.asctime %></li>
  <% if event.home_team == "San Jose Sharks" %>
    <img src="">
  <% else %>
    <img src="">
  <% end %>
<% end %>

<% @roster.each do |player| %>
    <li id"game"><%= player.player_name %> </li>
    <% end %>

  <form method="post" action="/">
    <input type="submit">
  </form>
</div>