<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <title>Bay Area Sports</title>
</head>
<body>
  <div id="main-container">
  <header>
    <ul id="navbar">
      <li class="navbar"> <a class="navlink" href="/team/2"> San Jose Earthquakes</a></li>
      <li class="navbar"> | </li>
      <li class="navbar"> <a class="navlink" href="/team/1"> San Jose Sharks</a></li>
      <li class="navbar"> | </li>
      <li class="navbar"> <a class="navlink" href="/team/5"> San Francisco Giants</a></li>
      <li class="navbar"> | </li>
      <li class="navbar"> <a class="navlink" href="/team/6"> Oakland A's </a></li>
      <li class="navbar"> | </li>
      <li class="navbar"> <a class="navlink" href="/team/3"> San Francisco 49ers</a></li>
      <li class="navbar"> | </li>
      <li class="navbar"> <a class="navlink" href="/team/4"> Oakland Raiders</a></li>
    </ul>
    <h1>Bay Area Sports</h1>
    <% if @access_token %>
        <button id="sign"><a id="sign_out" href="/sign_out">Sign Out</a></button>
    <% else %>
      <form class="sign" action="/sign_in" method="get">
        <input id="sign" type="submit" value="Sign In with Twitter" />
      </form>
    <% end %>
    <a id="home" href="/home"> Home</a>
  </header>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/application.js"></script>

  <%= yield %>
</body>
</html>
